<h2>{{ title }}</h2>

<ul class="list-group">
  <li class="list-group-item">
    <div class="row">
      <div class="col-3">
        <img [src]="user.avatar" alt="" class="img-fluid rounded-circle" />
      </div>
      <div class="col-9">
        <h3>{{ user.firstName + " " + user.lastName }}</h3>
        <p>Date of Birth : <span [innerText]="user.dob"></span></p>
        <p>Income : <span [innerText]="user.income"></span></p>
        <p>
          Total Votes : {{ user.votes }}
          <!-- [PB] + (EB) -->
          <input
            type="number"
            [value]="user.votes"
            (change)="changeVotes($event)"
          />
          <!-- Banana in the box -->
          <input type="number" [(ngModel)]="user.votes" />
        </p>
        <button
          class="btn btn-info btn-sm"
          (click)="onMoreInfo(user.lastName, user.company)"
        >
          More Info
        </button>
      </div>
    </div>
  </li>
</ul>
